*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("back.jpg");
}

h1{
	color: blue;
}

h3{
	color: blue;
}

.box{
	width: 70%;
	height: 70vh;
	background-color: #f7f7f9;
	margin: 0 auto;
	margin-top: 15vh;
	border-radius: 50px;
}

.box1{
	display: inline-block;
	width: 55%;
	padding-left: 9%;
	padding-top: 4vh;
}

.box2{
	display: inline-block;
	width: 30%;
	padding-right: 9%px;
	margin-top: 20px;
}

.real{
	width: 90%;
}

.bottom{
	color: blue;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-color: blue;
	border-radius: 5px;
}

.lorem{
	font-size: 20px;
}

.box2 > *{
	padding: 5px;
}

.add{
	color: white;
	font-size: 20px;
	border-color: blue;
	border-radius: 10px;
	width: 80%;
	background-color: blue;
	margin-left: 8%;
}