*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
p{
    font-size: 19px;
    line-height: 22px;
    color: #333;
    padding: 10px 0;
}
h3{
    font-size: 22px;
    line-height: 30px;
    color: #333;
    padding: 10px 0;
}
.text-center{
    text-align: center;
    padding: 50px 0;
}
.btn{
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
}
.btn.white{
    background-color: transparent;
    color: #000;
    text-transform: capitalize;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
}
.clr{
    clear: both;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 24.99%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.9%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.3%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 99.96%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-10,
.col-12{
    float: left;
}